body {
    background-image: url("Adsız tasarım (7).png");
    background-size: 150px;
    width: 300px;
    height: 300px;
    font: 300 80px/80px, Roboto, Times New Roman;
    font-size: x-large;
    color: pink;
}